{% extends "base.html" %}

{% block title %}Orders{% endblock %}

{% block content %}
<h2>Orders</h2>
<h5>List of all our orders:</h5>
{% if orders %}
    <ul>
        {% for order in orders %}
            <li>(Order ID: {{ order.id }}) <a href="{% url 'order-details' order.id %}">{{ order }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>There are no orders at the moment.</p>
{% endif %}
<div class="container">
    <ul class="pagination pagination-sm justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a href="?page=1" class="page-link">First</a>
            </li>
            <li class="page-item">
                <a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a>
            </li>
        {% endif %}
        <li class="page-link active">{{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</li>
        {% if page_obj.has_next %}
            <li class="page-item">
                <a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a>
            </li>
            <li class="page-item">
                <a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Last</a>
            </li>
        {% endif %}
    </ul>
</div>
{% endblock %}