{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Services" %}{% endblock %}

{% block content %}
<h2>{% trans "Services" %}</h2>
<h5>{% trans "List of our services" %}:</h5>
{% if services %}
    <ul>
        {% for service in services %}
            <li><a href="{% url 'service-details' service.id %}">{{ service.name }}</a> ({{ service.price }} €)</li>
        {% endfor %}
    </ul>
{% else %}
    <p>{% trans "There are no services at the moment" %}.</p>
{% endif %}
{% endblock %}